<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PokeApp</ion-title>
    <ion-buttons slot="end">
      <ion-toggle (ionChange)="toggleTheme($event)" justify="end">Modo Escuro</ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    <div class="search-section">
      <ion-input
        placeholder="Pesquisar por ID ou Nome"
        (input)="onSearchInputChange($event)"
        class="search-input"
      ></ion-input>
    </div>

    <div class="pokemon-details-section">
      <div *ngIf="selectedPokemon" class="pokemon-details">
        <h2>{{ selectedPokemon.name | titlecase }} #{{ selectedPokemon.id }}</h2>
        <img [src]="selectedPokemon.sprites?.front_default" alt="{{ selectedPokemon.name }}" onerror="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png'">

        <p><strong>Base Experience:</strong> {{ selectedPokemon.base_experience }}</p>
        <p><strong>Height:</strong> {{ selectedPokemon.height / 10 }} m</p>
        <p><strong>Weight:</strong> {{ selectedPokemon.weight / 10 }} kg</p>

        <h3>Types:</h3>
        <ul>
          <li *ngFor="let type of selectedPokemon.types" [ngStyle]="{'background-color': typeColors[type.type.name]}">{{ type.type.name | titlecase }}</li>
        </ul>

        <h3>Abilities:</h3>
        <ul>
          <li *ngFor="let ability of selectedPokemon.abilities">{{ ability.ability.name | titlecase }} <span *ngIf="ability.is_hidden">(Hidden)</span></li>
        </ul>

        <h3>Stats:</h3>
        <ul>
          <li *ngFor="let stat of selectedPokemon.stats">{{ stat.stat.name | titlecase }}: {{ stat.base_stat }}</li>
        </ul>

        <h3>Moves:</h3>
        <ul>
          <li *ngFor="let move of selectedPokemon.moves | slice:0:20">{{ getFormattedMoveName(move) | titlecase }}</li>
        </ul>

        <h3>Evolution Chain:</h3>
        <div *ngIf="evolutionChain" class="evolution-chain">
          <span *ngFor="let evo of evolutionChain; let i = index">
            <a (click)="loadPokemon(evo.id)">{{ formatName(evo.name) | titlecase }}</a>
            <span *ngIf="i < evolutionChain.length - 1"> -> </span>
          </span>
        </div>
        <p *ngIf="!evolutionChain">No evolution information available.</p>

        <h3>Held Items:</h3>
        <ul *ngIf="selectedPokemon.held_items.length > 0">
          <li *ngFor="let item of selectedPokemon.held_items">{{ formatName(item.item.name) | titlecase }}</li>
        </ul>
        <p *ngIf="selectedPokemon.held_items.length === 0">No held items.</p>

        <h3>Forms:</h3>
        <ul *ngIf="selectedPokemon.forms.length > 0">
          <li *ngFor="let form of selectedPokemon.forms">{{ formatName(form.name) | titlecase }}</li>
        </ul>
        <p *ngIf="selectedPokemon.forms.length === 0">No forms.</p>

        <h3>Cries:</h3>
        <audio *ngIf="selectedPokemon.cries?.latest" controls>
          <source [src]="selectedPokemon.cries.latest" type="audio/ogg">
          Your browser does not support the audio element.
        </audio>
        <p *ngIf="!selectedPokemon.cries?.latest">No cry available.</p>

      </div>
      <div *ngIf="!selectedPokemon" class="no-pokemon-selected">
        <p>Search for a Pokémon to see details.</p>
      </div>
    </div>
  </div>
</ion-content>
