<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PokeApp</ion-title>
    <ion-buttons slot="end">
      <ion-toggle (ionChange)="toggleTheme($event)" justify="end">Modo Escuro</ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <div class="pokedex">
      <div class="left">
        <div class="camera"></div>
        <div class="leds">
          <span class="red"></span>
          <span class="yellow"></span>
          <span class="green"></span>
        </div>
        <div class="screen">
          <div *ngIf="selectedPokemon" class="pokemon-display-left">
            <img [src]="selectedPokemon.sprites?.front_default" alt="{{ selectedPokemon.name }}" onerror="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png'">
            <h2>{{ selectedPokemon.name | titlecase }}</h2>
          </div>
          <div *ngIf="!selectedPokemon" class="no-pokemon-selected-left">
            <p>Selecione um Pokémon.</p>
          </div>
          <ion-input
            placeholder="Pesquisar por ID ou Nome"
            (ionChange)="onSearchInputChange($event)"
            class="search-input"
          ></ion-input>
        </div>
        <div class="button-round"></div>
        <div class="button-bar"></div>
        <div class="button-bar blue"></div>
        <div class="slot"></div>
        <div class="dpad"></div>
      </div>

      <div class="hinge"></div>

      <div class="right">
        <div class="display">
          <div *ngIf="selectedPokemon" class="pokemon-details-right">
            <img [src]="selectedPokemon.sprites?.front_default" alt="{{ selectedPokemon.name }}" onerror="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png'">
            <h2>{{ selectedPokemon.name | titlecase }}</h2>
            <p>ID: #{{ selectedPokemon.id }}</p>
            <p>Altura: {{ selectedPokemon.height / 10 }} m</p>
            <p>Peso: {{ selectedPokemon.weight / 10 }} kg</p>
            <ion-label>Tipos:</ion-label>
            <ul>
              <li *ngFor="let type of selectedPokemon.types">{{ type.type.name | titlecase }}</li>
            </ul>
            <ion-label>Habilidades:</ion-label>
            <ul>
              <li *ngFor="let ability of selectedPokemon.abilities">{{ ability.ability.name | titlecase }}</li>
            </ul>
          </div>
          <div *ngIf="!selectedPokemon" class="no-pokemon-selected-right">
            <p>Selecione um Pokémon para ver os detalhes.</p>
          </div>
        </div>

        <div class="grid">
          <div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div>
        </div>

        <div class="white-keys">
          <div></div><div></div>
        </div>

        <div class="gold-btn"></div>

        <div class="bottom">
          <div></div><div></div>
        </div>
      </div>
    </div>
  </ion-content>
